.Sub {
  width: 100%;
  padding-block: 50px;

  .row {
    min-height: 300px;
    margin-inline: auto;
    width: 100%;
    background: url(./footerbg.png) center center no-repeat;
    background-size: cover;

    h1.title {
      max-width: 500px;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #ffffff;
      padding: 0;

      @media (max-width: 700px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    button {
      width: max-content;
      padding: 12px 24px;
      background: #52cf3d;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
}
